<body>
	<!--script>
		alert("Go below to navigate different type user's home page !!!");
	</script-->
	<!----------nav--------------->
	<nav class="nav1">
		<div class="nav-menu flex-row">
			<div class="nav-brand">
				<a href="#" class="text-gray" style="text-decoration: none"> Courier Management System </a>
			</div>
			<div class="toggle-collapse">
				<div class="toggle-icons">
					<i class="fas fa-bars"></i>
				</div>
			</div>
			<div>
				<ul class="nav-items">
					<li class="nav-link">
						<a href="/index" style="text-decoration: none"> Home </a>
					</li>
					<li class="nav-link">
						<a href="/how" style="text-decoration: none"> How it's work </a>
					</li>
					<li class="nav-link">
						<a href="/register" style="text-decoration: none"> Sign Up </a>
					</li>
					<li class="nav-link">
						<a href="/contectus" style="text-decoration: none"> Contact Us </a>
					</li>
				</ul>
			</div>
			<div class="social text-gray">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
	</nav>

	<!-------------x--------nav---------x--------->
	<!-------------main------------------------->



  <main>
  <section class="site-title">
    <p *ngIf="message" class="text-danger">{{message}}</p>
    <form (ngSubmit)="login()" [formGroup]="loginForm" method="post" class="forms">
      <h2 style="padding: 3rem 7.5rem;color: cadetblue">Login</h2>
      <h3 style="padding-left: 7.5rem;color: red;">*Required fields</h3>
      <div class="form-group">
        <label>
          *UserID:
        </label>
        <input class="form-control" formControlName="id" name="id" placeholder="Your Id..." type="text">
        <small style="margin-left: 40%" *ngIf="loginForm.get('id').hasError('required') && !loginForm.get('id').untouched"
               class="text-danger">Required!</small>
      </div>
      <div class="form-group">
        <label>
          *Password:
        </label>

        <input class="form-control" formControlName="password" name="password" placeholder="Password" type="password">
        <small style="margin-left: 40%" *ngIf="loginForm.get('password').hasError('required') && !loginForm.get('password').untouched"
               class="text-danger">Required!</small>
      </div>
      <div class="form-group" style="margin: 0 0 0px;">
        <button class="btn" style="margin-left: 28vh" type="submit"
                [disabled]="!loginForm.valid">Log In
        </button>
      </div>
    </form>
  </section>

  </main>
  <!-------x----------main------------x------->
</body>
