
		<footer class="footer">
			<div class="container">
				<div class="about-us">
					<h2>About Us</h2>
					<p>We connects the world and provide better shipping facility to world.</p>
				</div>
				<div class="customer-support" >
					<h2>Customer Support</h2>
					<a href="/register">Open an Account</a><br>
					<a href="/login">Login to your Account</a><br>
					<a href="/track">Track your courier</a>
				</div>
				<div class="contact-us" >
					<h2>Contact Us</h2>
					<p><i class="fas fa-envelope"></i> courier247@gmail.com</p>
					<p><i class="fas fa-phone-square-alt"></i> 1890 111 2222</p>
				</div>
				<div class="follow" >
					<h2>Follow Us</h2>
					<p>Let us be Social</p>
					<div>
						<i class="fab fa-facebook"></i>
						<i class="fab fa-instagram"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-youtube"></i>
					</div>
				</div>
			</div>
			<div class="move-up">
				<span onclick="topFunction()"><i class="fas fa-arrow-circle-up fa-2x"></i></span>
			</div>
		</footer>

		<!-----x------footer----------------->
