<!----------nav--------------->
<nav class="nav1">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#" class="text-gray" style="text-decoration: none"> Courier Management System </a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="/manage_staff" style="text-decoration: none"> Manage staff </a>
                </li>
                <li class="nav-link">
                    <a href="/manage_branch" style="text-decoration: none"> Manage branch </a>
                </li>
                <li class="nav-link">
                    <a href="/courier" style="text-decoration: none"> Courier </a>
                </li>
                <li class="nav-link">
                    <a href="/offers" style="text-decoration: none"> Offers </a>
                </li>
                <li class="nav-link">
                    <a href="/profile" style="text-decoration: none"> Profile </a>
                </li>
                <li class="nav-link">
                    <a href="/index" style="text-decoration: none"> Logout </a>
                </li>
            </ul>
        </div>
        <div class="social text-gray">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</nav>
<!-------------x--------nav---------x--------->

<!--------------------main---------------->
<hr>
<div *ngFor="let offer of offers">
<div class="card text-center w-25 mx-auto">
    <div class="card-header">
        Offer no.{{ offer.id }}<span class="badge badge-success"> New </span>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{offer.name}}</h5>
        <p class="card-text">{{ offer.description }}</p>
        <a href="#" class="btn btn-success" name="update" value="update" data-toggle="modal" data-target="#updatemodal">Update</a>
        <a href="#" class="btn btn-dark" name="remove" value="remove">Remove</a>
    </div>
    <div class="card-footer text-muted">
        valid till {{ offer.date }}
    </div>
</div>
<br>
</div>
<!----x------------main-----------x-------------------->
<!----------------- modal------------->

<div class="modal" id="updatemodal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update offer content</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label>Offer info:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="submit" >Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-------x------modal-----------x------------>

