


<body>
    <!--script>
        alert("javascript: search functionality in many pages,animation,scrollup button of footer");
    </script-->
    <!----------nav--------------->
    <nav class="nav1">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#"> Courier Management System  </a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">

                    <li class="nav-link">
                        <a href="/how"> How it's work </a>
                    </li>
                    <li class="nav-link">
                        <a href="/login"> Login </a>
                    </li>
                    <li class="nav-link">
                        <a href="/register"> Sign up </a>
                    </li>
                    <li class="nav-link">
                        <a href="/contectus"> Contact Us </a>
                    </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </nav>
    <!-----x--------nav---------x--------->

    <!----------main section-------------->
    <main>
        <!----site title------->
        <section class="site-title">
            <div class="site-background">
                <h3> we know the time importance!!!</h3>
                <h2> 24/7 available for your service</h2>
                <button class="btn"><a href="/register"> Sign up </a></button>
            </div>
        </section>
        <!--x--site title---x---->
    </main>

    <!----x-----main section-----x-------->
    </body>
