	<!----------nav--------------->
	<nav class="nav1">
		<div class="nav-menu flex-row">
			<div class="nav-brand">
				<a href="#" class="text-gray" style="text-decoration: none"> Courier Management System </a>
			</div>
			<!--div class="toggle-collapse1">
				<div class="toggle-icons">
					<i class="fas fa-bars"></i>
				</div>
			</div-->
			<div>
				<ul class="nav-items">
					<li class="nav-link">
						<a href="/branch_courier" style="text-decoration: none"> Courier </a>
					</li>
					<li class="nav-link">
						<a href="/admin_branch" style="text-decoration: none"> Branch Info </a>
					</li>
					<li class="nav-link">
						<a href="/transport" style="text-decoration: none"> Transport Staff </a>
					</li>
					<li class="nav-link">
						<a href="/admin_profile" style="text-decoration: none"> Profile </a>
					</li>
					<li class="nav-link">
						<a href="/index" style="text-decoration: none"> Logout </a>
					</li>
				</ul>
			</div>
			<div class="social text-gray">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
	</nav>
	<!-------------x--------nav---------x--------->
	<!----------------main--------------------->
	<hr>
	`	<label style="color: yellowgreen;margin-left: 10vh"> Current cost/kg*km is 500 INR </label><br><br>
	<form action="">
		<input type="search" id="gsearch" name="gsearch" placeholder="Search courier by ID" onkeyup="searchFun()">
		<span><i class="fas fa-chevron-right"></i></span>
	</form>
	<h3 style="margin-left: 10vh;color: chocolate;">couriers</h3>
		<table id="myTable">
		<thead>
			<tr>
				<th>#ID</th>
				<th>userid</th>
				<th>source</th>
			    <th>Destination</th>
				<th>Date</th>
				<th>Cost</th>
				<th>Delivered</th>
				<th>Deliveryboy id</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let courier of couriers">
        <ng-container *ngIf="courier.source===loggedbranch || courier.destination===loggedbranch">
			   <td>{{ courier.id }}</td>
			   <td>{{ courier.userid }}</td>
			   <td>{{ courier.source }}</td>
			   <td>{{ courier.destination }}</td>
			   <td>{{ courier.date }}</td>
			   <td>{{ courier.cost }}</td>
			   <td>{{ courier.delivered}}</td>
			   <td>{{ courier.deliveryboyid}}</td>
	        <td><button class="btn" name="genbill" value="genbill" (click)="bill(courier)">Generate Bill</button></td>

        </ng-container>
			</tr>
		</tbody>
		</table>
		<br>

	<!-------x-------------main------------x--------------->

