<!----------nav--------------->
<nav class="nav1">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#" class="text-gray" style="text-decoration: none"> Courier Management System </a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="/branch_courier" style="text-decoration: none"> Courier </a>
                </li>
                <li class="nav-link">
                    <a href="/admin_branch" style="text-decoration: none"> Branch Info </a>
                </li>
                <li class="nav-link">
                    <a href="/transport" style="text-decoration: none"> Transport Staff </a>
                </li>
                <li class="nav-link">
                    <a href="/admin_profile" style="text-decoration: none"> Profile </a>
                </li>
                <li class="nav-link">
                    <a href="/index" style="text-decoration: none"> Logout </a>
                </li>
            </ul>
        </div>
        <div class="social text-gray">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</nav>
<!-------------x--------nav---------x--------->
<!----------------main--------------------->
<hr>
`<form action="">
    <input type="search" id="gsearch" name="gsearch" placeholder="Search members by ID" onkeyup="searchFun()">
    <span><i class="fas fa-chevron-right"></i></span>
</form>

<table id="myTable">
        <thead>
        <tr>
            <th>#ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Courier/week</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transport of transports">
          <ng-container *ngIf="transport.designation==tran && loggedbranch===transport.branch">
            <td>{{transport.id}}</td>
            <td>{{transport.name}}</td>
            <td>{{transport.salary}}</td>
            <td>{{transport.courier}}</td>
            <td>{{transport.email}}</td>
            <td><button class="btn" name="update" value="update" data-toggle="modal" data-target="#updatemodal">Update</button><td>
            <td><button class="btn" name="remove" value="remove">Remove</button></td>

          </ng-container>
           </tr>
        </tbody>
    </table>
    <!-------x-------------main------------x--------------->
<!----------------- modal------------->

<div class="modal" id="updatemodal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update salary of staff</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <label>salary:</label> <input type="number" name="salary" value="salary"/><br>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="submit" >Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-------x------modal-----------x------------>
