<!----------nav--------------->
<nav class="nav1">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#" class="text-gray"> Courier Management System </a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="#"> How it's work </a>
                </li>
                <li class="nav-link">
                    <a href="/login"> Login </a>
                </li>
                <li class="nav-link">
                    <a href="/register"> Sign up </a>
                </li>
                <li class="nav-link">
                    <a href="/contectus"> Contact Us </a>
                </li>
            </ul>
        </div>
        <div class="social text-gray">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</nav>
<!-----x--------nav---------x--------->
<hr>
<!------------main-------------->
<div class="container1">
    <h1>HOW WE CONNECT</h1>
    <div class="slider-outer">
        <i class="fas fa-chevron-circle-left" id="prev"></i>
        <div class="slider-inner">
            <img src="../../../../assets/assets/img3.jpg" class="active">
            <img src="../../../../assets/assets/img2.jpg" >
            <img src="../../../../assets/assets/img1.jpg" >
            <img src="../../../../assets/assets/img11.jpg" >
        </div>
        <i class="fas fa-chevron-circle-right" id="next"></i>
    </div>
</div>
<!---x----------main---------x-------->
