<!----------nav--------------->
<nav class="nav1">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#" class="text-gray" style="text-decoration: none;color: black"> Courier Management System </a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="/index" style="text-decoration: none;color: black"> Home </a>
                </li>
                <li class="nav-link">
                    <a href="/how" style="text-decoration: none;color: black"> How it's work </a>
                </li>
                <li class="nav-link">
                    <a href="/login" style="text-decoration: none;color: black"> Login </a>
                </li>
                <li class="nav-link">
                    <a href="/register" style="text-decoration: none;color: black"> Sign up </a>
                </li>
                <li class="nav-link">
                    <a href="/contectus" style="text-decoration: none;color: black"> Contact Us </a>
                </li>
            </ul>
        </div>
        <div class="social text-gray">
            <a href="#" style="color: black"><i class="fab fa-facebook"></i></a>
            <a href="#" style="color: black"><i class="fab fa-instagram"></i></a>
            <a href="#" style="color:black"><i class="fab fa-twitter"></i></a>
            <a href="#" style="color: black"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</nav>
<!-----x--------nav---------x--------->
<br>
<!----------main section-------------->

    <!----site title------->
<div class="contact-clean">
    <form method="post">
        <h2 class="text-center">Contact us</h2>
        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name" style="width:80%; margin: 10%;"></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" style="width:80%; margin: 10%;"></div>
        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
        <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
    </form>
</div>
    <!--x--site title---x---->


<!----x-----main section-----x-------->
